@import "../node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";;
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms/.";
@import '../node_modules/bootstrap/scss/helpers/.';
@import '../node_modules/bootstrap/scss/mixins/.';
@import '../node_modules/bootstrap/scss/bootstrap-utilities';
@import '../node_modules/bootstrap/scss/vendor/rfs';
@import '../node_modules/bootstrap/scss/forms';
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/containers";

//產品圖片背景化設定
@mixin setting-bgi($imgURL) {
    background-image: url($imgURL);
    background-size: cover;
    background-position: center center;
}
.bg-set {
    background-size: cover;
    background-position: center center;
}
//Logo大小設定
.brand img, .brand {
    width: 180px;
    height: 40px;
}
//購物車圖示設定
.iconLink {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: $spacer*0.25;
}
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}
//介紹標題直式設定
.verticalSlogan {
    width: 59px;
    height: 219px;
}
//選單設定
.navbar-collapse {
    @include media-breakpoint-up(lg) {
        width: fit-content;
    }
}
//主視覺設定
.bg-banner {
    height: 277px;
    @include media-breakpoint-up(md){
        height: 496px;
    }
    background-image: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    img {
        height: 218px;
        width: 59px;
        position: absolute;
            top: 30px;
            right: 30px;
        @include media-breakpoint-up(md){
            height: 327px;
            width: 89px;
            top: 40px;
            right: 40px;
        }
    }
}
.blur-filter {
    display: inline-block;
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    background-color: rgba(63,93,69, 0.8);
    backdrop-filter: blur(5px);
    writing-mode: vertical-rl;
    color: white;
    transition: 0.3s ease;
    &:hover {
        background-color: rgba(255,255,128,0.8);
        font-weight: bold;
        color: #3F5D45;
    }
    @include media-breakpoint-up(md) {
        width: 260px;
        height: 256px;
    }
}
.today-select {
    @include setting-bgi('https://bit.ly/2R5tqwD');
    @include media-breakpoint-up(md){
        transform: translateY(-89px);
        height: 256px;
    }
    margin-right: 1px;
    width: 100%;
    max-width: 260px;
    height: 180px;
}
.hot-sale {
    @include setting-bgi('https://bit.ly/2Dwoxd7');
    @include media-breakpoint-up(md){
        transform: translateY(-89px);
        height: 256px;
    }
    margin-right: 1px;
    color: white;
    width: 100%;
    max-width: 260px;
    height: 180px;
}
.new-arrive {
    @include setting-bgi('https://bit.ly/2OUteif');
    @include media-breakpoint-up(md){
        transform: translateY(-89px);
        height: 256px;
    }
    margin-right: 1px;
    color: white;
    width: 100%;
    max-width: 260px;
    height: 180px;
}
//直式排版
.vertical-rl-md {
    writing-mode: horizontal-tb;
    @include media-breakpoint-up(md) {
        writing-mode: vertical-rl;
        display: inline-block;
        img {
            vertical-align: unset;
        }
    }
}

.intro-row-md {
    background-color: $light;
    width: 100%;
    @include media-breakpoint-up(md) {
        height: 420px;
        box-sizing: border-box;
    }
}
//橫式排版設定
.horizontal-title{
    margin-bottom: $spacer *2;
    img {
        width: 196px;
        height: 60px;
    }   
}
//介紹內容配圖
.intro-pic {
    width: 100%;
    height: 250px;
    @include setting-bgi('https://bit.ly/2xPn7Eq');
}
.intro-pic2 {
    width: 100%;
    height: 250px;
    @include setting-bgi('https://bit.ly/2zzAQS4');
}
.intro-pic-md {
    display: none;
    @include media-breakpoint-up(md) {
        display: inline-block;
        width: 460px;
        height: 460px;
        position: relative;
        top: -($spacer);
    }
    @include setting-bgi('https://bit.ly/2xPn7Eq');
}
.intro-pic2-md{
    @extend .intro-pic-md;
    @include setting-bgi('https://bit.ly/2zzAQS4');
}
.intro-title-md {
    height: 218px;
    width: 59px;
    @include media-breakpoint-up(md) {
        height: 327px;
        width: 89px;
        position: relative;
        top: -($spacer);
        right: 40px;
    }
}
//產品卡片設定
.card-img-top {
    height: 315px;
    width: 100%;
}
//加入最愛 toggle
.likeBtn {
    width: 20px;
    height: 20px;
    position: absolute;
        top: 19px;
        right: 22px;
    &:hover {
        cursor: pointer;
    }
}
.liked{
    @extend .likeBtn;
}

@import 'helpers/customComponents';//Product Card